ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

body{
    margin: 0;

    font-family: Raleway;
    font-size: 22px;
    font-weight: 500;
    line-height: 25.83px;
    text-align: left;
}
